[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/juice-contracts-v3"]
	path = lib/juice-contracts-v3
	url = https://github.com/jbx-protocol/juice-contracts-v3
[submodule "lib/juice-project-handles"]
	path = lib/juice-project-handles
	url = https://github.com/jbx-protocol/juice-project-handles
[submodule "lib/base64"]
	path = lib/base64
	url = https://github.com/Brechtpd/base64
[submodule "lib/ens"]
	path = lib/ens
	url = https://github.com/ensdomains/ens
